@media screen and (max-width: 576px) {
    .featured-title{
        font-size: 2rem;
    }
    .featured-description{
        font-size: 1rem;
    }
    .btn-primary{
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    header{
        padding: 3rem 1.5rem 0 1.5rem;
    }
    .text-container{
        width: 100%;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 2.3rem;
        
    }
    .banner-description{
        font-size: 1.2rem;
        text-align: justify;
    }
    .banner-img{
        width: 100%;
        margin-top: 2.5rem;
    }
    .banner-img img{
        width: 100%;
    }






    /* featured section design */
    .featured-card-container{
        flex-direction: column;
    }
    .card{
        width: 300px;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .card-img{
        height: 360px;
    }
    .card-img img{
        width: 200px;
        bottom: 0;
        left: 50px;
    }


    
    /* Delivery section design */
    .delivery{
        margin: 0 15px;
    }
    .delivery-container{
        height: 250px;
        justify-content: center;
        padding: 0 10px;
    }
    .delivery-description{
        font-size: 0.9rem;
    }
    .delivery-card img{
        width: 60px;
    }
}














@media screen and (min-width: 577px) and (max-width: 960px) {
    header{
        padding: 3rem 1.5rem 0 1.5rem;
    }
    .banner{
        flex-direction: column;
    }
    .banner-content{
        width: 100%;
    }
    .banner-title{
        font-size: 2.3rem;
        
    }
    .banner-description{
        font-size: 1.2rem;
        text-align: justify;
    }
    .banner-img{
        width: 50%;
        margin: 0 auto;
    }
    .banner-img img{
        width: 100%;
    }



    /* featured section design */
    .featured-card-container{
        flex-direction: column;
    }
    .card{
        width: 300px;
        padding: 0;
        margin: 0 auto;
        margin-bottom: 20px;
    }
    .card-img{
        height: 380px;
    }
    .card-img img{
        width: 200px;
        bottom: 0;
        left: 50px;
    }




    /* Delivery section design */
    .delivery{
        margin: 0 20px;
    }
    .delivery-container{
        justify-content: space-between;
        align-items: center;
        padding: 0 15px;
    }
}