@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* shared styles */
.featured-title{
    color: #272727;
    font-size: 2.5rem;
    font-weight: 700;
}
.featured-description, .card-title{
    font-size: 1.25rem;
    color: rgba(39, 39, 39, 0.60);
}
.btn-primary{
    border-radius: 0.5rem;
    background: #E55473;
    color: white;
    padding: 1.25rem 2.5rem;
    outline: none;
    border: 2px solid #E55473;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background: transparent;
    color: #272727;
    transform: translateX(10px);
}
.text-container{
    text-align: center;
    margin-bottom: 48px;
}


/* Header styles */
header{
    padding: 190px 0px 0px 240px;
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 708px;
}
.banner-title{
    font-size: 5rem;
    color: #272727;
    
}
.banner-description{
    font-size: 1.5rem;
    margin: 30px 0;
}
.banner-img{
    width: 635px;
}




/* Main */
main{
    margin-top: 200px;
}
section{
    margin-bottom: 128px;
}

/* Featured section design */
.featured{
    max-width: 1440px;
    margin: 0 auto;
}
.featured-title{
    margin-bottom: 24px;
}
.featured-card-container{
    display: flex;
    justify-content: center;
}
.card{
    width: 350px;
    text-align: center;
    padding: 0 20px;
}
.card-img{
    width: 100%;
    height: 450px;
    background: rgba(167, 33, 98, 0.15);
    border-radius: 200px 200px 0 0;
    margin-bottom: 20px;
    position: relative;
}
.card-img2{
    background: rgba(5, 151, 160, 0.15);
}
.card-img3{
    background: rgba(71, 125, 17, 0.15);
}
.card-title{
    font-weight: 600;
    text-decoration: underline;
}
.card-img img{
    width: 250px;
    position: absolute;
    bottom: 0;
    left: 50px;
}
#card-img2{
    bottom: 60px;
}