@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

/* shared styles */
.t{
    font-size: 2.5rem;
    font-weight: 700;
}
.d{
    font-size: 1.25rem;
    color: rgba(39, 39, 39, 0.60);
}
.btn-primary{
    border-radius: 0.5rem;
    background: #E55473;
    color: white;
    padding: 1.25rem 2.5rem;
    outline: none;
    border: 2px solid #E55473;
    font-size: 1.2rem;
    cursor: pointer;
    transition: all 0.5s ease;
}
.btn-primary:hover{
    background: transparent;
    color: #272727;
    transform: translateX(10px);
}
.featured{
    max-width: 1440px;
    padding: 0 240px;
}



/* Header styles */
header{
    padding: 190px 0px 0px 240px;
    background: rgba(229, 84, 115, 0.10);
}
.banner{
    display: flex;
    justify-content: space-between;
}
.banner-content{
    width: 708px;
}
.banner-title{
    font-size: 5rem;
    color: #272727;
    
}
.banner-description{
    font-size: 1.5rem;
    margin: 30px 0;
}
.banner-img{
    width: 635px;
    height: 800px;
}
